<article class="element">
  <button class="element__menu-button"></button>
  <div class="element__menu">
    menu 2
  </div>

  <section class="element__section">
    <h3 class="element__title">НПА</h3>
    <p class="element__text">Постановление № 1816</p>
    <p class="element__text">25.12.2019</p>
  </section>
  <section class="element__section">
    <h3 class="element__title">Срок подачи</h3>
    <p class="element__text">
      Не позднее 05.11.
    </p>
  </section>
  <section class="element__section">
    <h3 class="element__title">Ответственный орган</h3>
    <p class="element__text">ДПИР</p>
  </section>
  <section class="element__section">
    <h3 class="element__title">Цели</h3>
    <p class="element__text">
      Субсидия в целях возмещения части затрат, связанных с созданием нового
      продукта, модернизацией существующего продукта, модернизацией или
      расширением производства продукции на основе введения в хозяйственный
      оборот результатов инже
    </p>
  </section>
  <nav class="element__navigation">
    <ul class="element__navigation-list">
      <li class="element__navigation-item">АПК</li>
      <li class="element__navigation-item">Оборудование</li>
      <li class="element__navigation-item">МСП</li>
    </ul>
  </nav>
</article>
