<section class="content">

  <section class="intro">
    <h2 class="intro__title">Центр поддержки экспортеров</h2>
    <p class="intro__sub-title">
      Мы помогаем компаниям увеличить экспорт на каждом этапе в любую точку
      мира.
    </p>
    <div class="intro__actions wrapper">
      <ul class="intro__action-list">
        <li class="intro__action-item">
          <button class="button">Зарегистрироваться</button>
        </li>
        <li class="intro__action-item"><a>Для байеров</a></li>
      </ul>
    </div>
  </section>

  <section class="sections wrapper">
    <p class="sections__title">
      Поможем на каждом этапе: от гос поддержки до бизнес–миссии
    </p>

    <ul class="secttions__list">
      <li class="secttions__item">
        <a class="sections__item-link" [routerLink]="['library']">Библиотека экспортера</a>
        <p class="sections__item-info">
          Полный перечень мер государственной поддержки с возможностью
          оперативного поиска и фильтрации результатов под запросы.
        </p>
      </li>
      <li class="secttions__item">
        <a class="sections__item-link" [routerLink]="['analytics']">Аналитические сводки по экспортным рынкам</a>
        <p class="sections__item-info">
          Оперативное предоставление расширенной аналитики по странам и рынкам с
          возможностью фильтрации по отраслям и странам.
        </p>
      </li>
      <li class="secttions__item">
        <a class="sections__item-link" [routerLink]="['events']">Мероприятия</a>
        <p class="sections__item-info">
          Выставки, мастер-классы и бизнес-миссии. Все полезные экспортерам
          мероприятия в одном месте.
        </p>
      </li>
      <li class="secttions__item">
        <a class="sections__item-link" [routerLink]="['news']">Новостные дайджесты</a>
        <p class="sections__item-info">
          Полный перечень мер государственной поддержки с возможностью
          оперативного поиска и фильтрации результатов под запросы.
        </p>
      </li>
    </ul>
  </section>

  <section class="organisations wrapper">
    <p class="organisations__title">
      32 московских компании уже начали экспортировать с нашей помощью
    </p>
  </section>

  <section class="slider-block wrapper">
    <h3 class="slider-block__title">Библиотека экспортера <a [routerLink]="[ 'library' ]">Перейти в раздел</a></h3>

    <div class="slider-block__slider slider">
      <app-tiny-slider [sliderConfig]="adSliderSettings">
        <article class="slider__item">
          <h4 class="slider__item-title">Цели 1</h4>
          <p class="slider__item-text"></p>
          <nav class="slider__item-navigation">
            <ul class="slider__navigation-list">
              <li class="slider__navigation-item">ПК</li>
              <li class="slider__navigation-item">Инвестиции</li>
              <li class="slider__navigation-item">МСП</li>
            </ul>
          </nav>
        </article>
        <article class="slider__item">
          <h4 class="slider__item-title">Цели 2</h4>
          <p class="slider__item-text"></p>
          <nav class="slider__item-navigation">
            <ul class="slider__navigation-list">
              <li class="slider__navigation-item">ПК</li>
              <li class="slider__navigation-item">Инвестиции</li>
              <li class="slider__navigation-item">МСП</li>
            </ul>
          </nav>
        </article>
      </app-tiny-slider>
    </div>

  </section>

  <section class="cabinet wrapper">
    <a>Личный кабинет</a>
  </section>

</section>
