.content {
  height: 100vh;
  background-image: url(/assets/images/background-2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
}

.intro {
  padding: 0 112px;
  margin-bottom: 300px;
}

.intro__title {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 89.99%;
  /* or 72px */

  width: 730px;
  padding-top: 156px;
  margin-bottom: 40px;

  color: #000000;
}

.intro__sub-title {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #000000;

  width: 500px;
  margin-bottom: 56px;
}

.intro__action-list {
  display: flex;
  align-items: center;
  list-style: none;

  padding: 0;
  margin: 0;
}

.intro__action-item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.intro__action-link {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  text-decoration-line: underline;
}


.section-block {
  margin-bottom: 140px;
}

.sections__title,
.organisations__title {
  width: 520px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #000000;

  margin: 0 0 80px 0;
}

.secttions__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.secttions__item {
  width: 45%;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}

.sections__item-link {
  margin-bottom: 20px;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-decoration-line: underline;
}

.organisations__list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.organisations__item {
  margin: 0 20px 20px 20px;
}

.organisations__item-logo {}



.slider-block__title {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  margin: 0 0 40px 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.slider-block__link {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  text-decoration-line: underline;
  color: #000000;
}

.slider-block__slider {
  position: relative;
}

.slider__item {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 24px;
}

.slider__item-navigation {
  margin-top: auto;
}

.slider__navigation-list {
  display: flex;
  list-style: none;
  padding: 0;
  justify-self: flex-end;
}

.slider__navigation-item {
  margin-right: 10px;
}



.cabinet {
  margin-bottom: 66px;
}
