<section class="events-list">
  <section class="events-lst__header">
    <h2 class="events-list__header-title">
      Календарь мероприятий
      <button class="events-list__header-button header-button points-button">
        <div class="header-button__menu">
          <ul class="header-button__menu-list">
            <li class="header-button__menu-item">
              <div  class="header-button__menu-icon"><div class="pluss-icon"></div></div>
              <a>Предложить свое мероприятие</a>
            </li>
            <li class="header-button__menu-item">
              <div class="header-button__menu-icon">
                <app-svg-calendar width="20" hidden="20"></app-svg-calendar>
              </div>
              <a [routerLink]="['calendar']">Смотреть на календаре</a>
            </li>
          </ul>
        </div>
      </button>
    </h2>
    <p class="events-list__header-sub-title">
      Мы сделали календарь мероприятий, в котором собрали для вас информацию о
      выставках, мастер-классах и бизнес-миссиях.
    </p>
  </section>
  <section class="events-lst__filter"></section>
  <section class="events-lst__calendar">
    <router-outlet></router-outlet>
  </section>
  <!-- <section class="events-lst__list">
    <div *ngFor="let item of this.events$ | async">
      {{ item | json }}
    </div>
  </section> -->
</section>
