@import '../variables.less';

//
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000000;

  min-width: 254px;
  height: 58px;
  padding: 0 20px;
  background: #FFFFFF;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  border: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  &:hover {
    background: #fafafa;
  }
}

input[type=radio]:checked+label {
  background: #F9F9F9;
}

.button--radio {
  display: flex;
  align-items: center;
  justify-content: center;

  &-large {
    width: 350px;
  }

  input {
    display: none;
  }
}

.arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;

  .arrow__body {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: black;
    border-radius: 1px;
  }

  .arrow__body::before,
  .arrow__body::after {
    content: '';

    display: block;
    position: absolute;
    background-color: black;
    height: 2px;
    width: 50%;
    left: 0;
    top: 0;
    border-radius: 1px;
  }

  .arrow__body::before {
    transform: translate(-8%, -5px) rotate(-45deg);
  }

  .arrow__body::after {
    transform: translate(-8%, 5px) rotate(45deg);
  }
}



.points-button {
  position: relative;
  border: none;

  width: 22px;
  height: 10px;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  cursor: pointer;

  &:hover::before {
    background-color: #b3b3b3;
    box-shadow: -10px 0 0 #b3b3b3,
      10px 0 0 #b3b3b3;
  }

  &::before {
    content: '';
    display: block;
    background-color: #C4C4C4;
    width: 6px;
    height: 6px;
    box-shadow: -10px 0 0 #C4C4C4,
      10px 0 0 #C4C4C4;
    border-radius: 50%;
  }

}


.search-icon {
  position: relative;
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: rotate(45deg);

  &::before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    border: solid 1px #000000;
    border-radius: 50%;
    flex-shrink: 0;
  }

  &::after {
    content: '';
    display: block;
    width: 10px;
    height: 1px;
    background-color: #000000;
  }
}
.pluss-icon {
  width: 16px;
  height: 16px;
  position: relative;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #C4C4C4;
  }

  &::before {
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
  }
  &::after {
    top: 50%;
    transform: translateY(-50%);
  }
}

@media(min-width: @tablet-horizontal) {
  .button {
    min-width: 180px;
    height: 41px;
    padding: 0 20px;
    border-radius: 18px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media(min-width: @desktop-small) {}

@media(min-width: @desktop-middle) {}

@media(min-width: @desktop-large) {}

@media(min-width: @desktop-extra-large) {}
