<header class="header">
  <div class="wrapper-no">
    <div class="header__wrapper" wrapper>
      <div class="header__logo">
        <a class="header__logo-link"> <img src="./assets/images/logo.png" /></a>
      </div>
      <div class="header__actions">
        <ul class="header__actions-list">
          <li class="header__actions-item">
            <a class="header__language header__language--active">En</a>/<a
              class="header__language"
              >Ru</a
            >
          </li>
          <li class="header__actions-item">
            <span class="header__more"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<main class="main">
    <router-outlet></router-outlet>
</main>
