<section class="container-detail-page">
  <div class="library-list">
    <div class="library-list__filter-column">
      <button class="library-list__filter-button button">
        Применить сохраненные фильтры
      </button>
      {{ form.value | json }}
      <div class="library-list__filter filter tile">
        <form [formGroup]="form">
          <ul class="filter__options-list">
            <li class="filter__option-item">
              <h4 class="filter__option-title">
                Область продукции для экспорта
              </h4>
              <ng-container formArrayName="scopeOfProducts">
                <div
                  class="filter__option-value"
                  *ngFor="
                    let item of this.scopeOfProductsList$ | async;
                    let i = index
                  "
                >
                  <input
                    type="checkbox"
                    class="filter__option-checkbox"
                    [value]="item.id"
                    [id]="item.id"
                    [formControlName]="i"
                  />
                  <label class="filter__option-label" [for]="item.id">{{
                    item.title
                  }}</label>
                </div>
              </ng-container>
            </li>
            <li class="filter__option-item">
              <h4 class="filter__option-title">Сроки подачи</h4>
              <ng-container formArrayName="dataChoice">
                <div
                  class="filter__option-value"
                  *ngFor="
                    let item of this.dataChoiceList$ | async;
                    let i = index
                  "
                >
                  <input
                    type="checkbox"
                    class="filter__option-checkbox"
                    [value]="item.id"
                    [id]="item.id"
                    [formControlName]="i"
                  />
                  <label class="filter__option-label" [for]="item.id">{{
                    item.title
                  }}</label>
                </div>
              </ng-container>
            </li>
            <li class="filter__option-item">
              <h4 class="filter__option-title">Размер предприятия</h4>
              <ng-container formArrayName="sizeOfEnterprise">
                <div
                  class="filter__option-value"
                  *ngFor="
                    let item of this.sizeOfEnterpriseList$ | async;
                    let i = index
                  "
                >
                  <input
                    type="checkbox"
                    class="filter__option-checkbox"
                    [value]="item.id"
                    [id]="item.id"
                    [formControlName]="i"
                  />
                  <label class="filter__option-label" [for]="item.id">{{
                    item.title
                  }}</label>
                </div>
              </ng-container>
            </li>
            <li class="filter__option-item">
              <h4 class="filter__option-title">Направление мер поддержки</h4>
              <ng-container formArrayName="scopeOfProducts">
                <div
                  class="filter__option-value"
                  *ngFor="
                    let item of this.supportMeasuresList$ | async;
                    let i = index
                  "
                >
                  <input
                    type="checkbox"
                    class="filter__option-checkbox"
                    [value]="item.id"
                    [id]="item.id"
                    [formControlName]="i"
                  />
                  <label class="filter__option-label" [for]="item.id">{{
                    item.title
                  }}</label>
                </div>
              </ng-container>
            </li>
            <li class="filter__option-item">
              <h4 class="filter__option-title">
                Формат предоставления меры поддержки
              </h4>
              <ng-container formArrayName="grandAndLoans">
                <div
                  class="filter__option-value"
                  *ngFor="
                    let item of this.grandAndLoansList$ | async;
                    let i = index
                  "
                >
                  <input
                    type="checkbox"
                    class="filter__option-checkbox"
                    [value]="item.id"
                    [id]="item.id"
                    [formControlName]="i"
                  />
                  <label class="filter__option-label" [for]="item.id">{{
                    item.title
                  }}</label>
                </div>
              </ng-container>
            </li>
          </ul>
        </form>
        <a
          class="filter__save link"
          [routerLink]="['/routePath']"
          routerLinkActive="router-link-active"
          >Сохранить фильтры</a
        >

        <button class="filter__reset button">Обновить</button>
      </div>
    </div>
    <div class="library-list__list-column">
      <input class="library-list__search" placeholder="Поиск..."  [formControl]="form.controls['searchText']"/>
      <div class="library-list__list">
        <div
          class="library-list__item"
          *ngFor="let item of this.resolutionsFiltered"
        >
          <app-library-list-item [entity]="item"></app-library-list-item>
        </div>
      </div>
    </div>
  </div>
</section>
