.button {
  min-width: 254px;
  height: 58px;

  padding: 0 20px;

  background: #FFFFFF;
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  border: none;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  &:hover {
    background: #fafafa;
  }
}


input[type=radio]:checked + label {
	background: #F9F9F9;
}
.button--radio {
  display: flex;
  align-items: center;
  justify-content: center;

  &-large {
    width: 350px;
  }

  input {
    display: none;
  }


}

