<section class="content">
  <section class="intro wrapper">
    <h2 class="intro__title">Библиотека экспортера</h2>
    <p class="intro__sub-title">
      Мы собрали все меры поддержки для крупного и среднего бизнеса, обработали
      и отфильтровали, чтобы вы смогли максимально быстро и точно найти
      поддержку, которая вам подойдет
    </p>
  </section>

  <section class="image"></section>

  <section class="questions wrapper">
    <p class="questions__sub-title">
      Опишите свое предприятие, чтобы увидеть, какие меры поддержки вам подойдут
    </p>
    <form class="form" [formGroup]="form">
      <div class="field">
        <p class="field__label">
          Относится ли ваша компания к субъекту малого или среднего
          предпринимательства?
        </p>
        <div class="field__radio-group">
          <ng-container
            *ngFor="
              let item of this.sizeOfEnterpriseList$ | async;
              let i = index
            "
          >
            <input
              type="radio"
              class="field__radio-input"
              [id]="'sizeOfEnterprise' + i"
              name="sizeOfEnterprise"
              [value]="item.value"
              formControlName="sizeOfEnterprise"
            />
            <label
              class="field__radio-label button button--radio"
              [for]="'sizeOfEnterprise' + i"
              >{{ item.title }}</label
            >
          </ng-container>
          <!-- <input
            type="radio"
            class="field__radio-input"
            id="inMoscom-1"
            name="inMoscom"
            value="15"
            [formControlName]="0"
          />
          <label
            class="field__radio-label button button--radio"
            for="inMoscom-1"
            >Да</label
          >
          <input
            type="radio"
            class="field__radio-input"
            id="inMoscom-2"
            name="inMoscom"
            value="16"
            [formControlName]="1"
          />
          <label
            class="field__radio-label button button--radio"
            for="inMoscom-2"
            >Нет</label
          > -->
        </div>
      </div>

      <div class="field">
        <p class="field__label">
          Ваша компания производит свою продукцию в Москве?
        </p>
        <div class="field__radio-group">
          <ng-container
            *ngFor="let item of this.moscowOrRfList$ | async; let i = index"
          >
            <input
              type="radio"
              class="field__radio-input"
              [id]="'moscowOrRf' + i"
              name="moscowOrRf"
              [value]="item.value"
              formControlName="moscowOrRf"
            />
            <label
              class="field__radio-label button button--radio"
              [for]="'moscowOrRf' + i"
              >{{ item.title }}</label
            >
          </ng-container>
        </div>
      </div>

      <div class="field">
        <p class="field__label">Вы уже экспортируете свою продукцию?</p>
        <div class="field__radio-group">
          <ng-container
            *ngFor="let item of this.exportedList$ | async; let i = index"
          >
            <input
              type="radio"
              class="field__radio-input"
              [id]="'exported' + i"
              name="exported"
              [value]="item.value"
              formControlName="exported"
            />
            <label
              class="field__radio-label button button--radio"
              [for]="'exported' + i"
              >{{ item.title }}</label
            >
          </ng-container>
        </div>
      </div>

      <div class="field">
        <p class="field__label">
          К какой области относится продукция подлежающая экспорту?
        </p>
        <div class="field__radio-group">
          <ng-container
            *ngFor="
              let item of this.scopeOfProductsList$ | async;
              let i = index
            "
          >
            <input
              type="radio"
              class="field__radio-input"
              [id]="'scopeOfProducts' + i"
              name="scopeOfProducts"
              [value]="item.value"
              formControlName="scopeOfProducts"
            />
            <label
              class="field__radio-label button button--radio"
              [for]="'scopeOfProducts' + i"
              >{{ item.title }}</label
            >
          </ng-container>
          <!-- <input
            type="radio"
            class="field__radio-input"
            id="option-4-1"
            name="option4"
            value="0"
            formControlName="option4"
          />
          <label
            class="field__radio-label button button--radio button--radio-large"
            for="option-4-1"
            >Промышленный комплекс</label
          >
          <input
            type="radio"
            class="field__radio-input"
            id="option-4-2"
            name="option4"
            value="1"
            formControlName="option4"
          />
          <label
            class="field__radio-label button button--radio button--radio-large"
            for="option-4-2"
            >Агропромышленный комплекс</label
          >
          <input
            type="radio"
            class="field__radio-input"
            id="option-4-3"
            name="option4"
            value="2"
            formControlName="option4"
          />
          <label
            class="field__radio-label button button--radio button--radio-large"
            for="option-4-3"
            >Другое</label
          > -->
        </div>
      </div>
      <!-- <div class="field">
        <p class="field__label">
          Являетесь ли вы участником каких-то из перечисленных образований?
        </p>
        <ul class="field__list">
          <li class="field__item">
            <label
              ><input
                type="checkbox"
                class="field__checkbox"
                formControlName="checkbox1"
              />Промышленный комплекс</label
            >
          </li>
          <li class="field__item">
            <label
              ><input
                type="checkbox"
                class="field__checkbox"
                formControlName="checkbox2"
              />Инновационный кластер</label
            >
          </li>
          <li class="field__item">
            <label
              ><input
                type="checkbox"
                class="field__checkbox"
                formControlName="checkbox3"
              />Технопарк</label
            >
          </li>
          <li class="field__item">
            <label
              ><input
                type="checkbox"
                class="field__checkbox"
                formControlName="checkbox4"
              />Индустриальный (промышленный) парк</label
            >
          </li>
          <li class="field__item">
            <label
              ><input
                type="checkbox"
                class="field__checkbox"
                formControlName="checkbox5"
              />Ничего из перечисленного</label
            >
          </li>
        </ul>
      </div> -->

      <div class="form__bottom">
        <a
          class="form__bottom-item button"
          [routerLink]="['list']"
          [queryParams]="this.form.value"
          >Готово</a
        >
        <a class="form__bottom-item link" [routerLink]="['list']">Пропустить</a>
      </div>
    </form>
  </section>
</section>
